
@import "variables";
@import "mixins";

body {
    background-color: #747474;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    @include card;
}

.project {
    @include card;
    display: flex;
    gap: 16px;
    align-items: flex-start;

    &__title {
        color: #8cb11d;
    }

    &__description {
        font-style: italic;
    }

    &__cta {
        display: block;
        width: 100%;
        padding: 8px 16px;
        border: none;

        background-color: $primary;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $primary-active;

        }
    }

    &--dark {
        @include card($bg: $background-color--dark, $fg: #fff);
        & .project__cta {
            background-color: $primary-dark;

            &:hover {
                background-color: $primary-dark-active;
            }
        }
    }

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}