/* 
    
    https://source.unsplash.com/random/800x450
        */
        html {
            font-family: 'Times New Roman', Times, serif;
        }

        .body {
            background-color: #FDFDFE;
        }

        .header {
            background-color: #4484CE;
            color: #FFF;
        }

        h1 {
            font-family: sans-serif;
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        .header-search {
            background-color: #7aa8dc;
            color: #FFF;
        }
        .header-search::placeholder {
            color: #FFF;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .article-header {
            color: #FFFFFF;
            font-size: 20px;
        }

        .article-summery, .article-tag {
            color: #d3d3d3;
        }

        .article-tag, .news-article-tag {
            font-size: 14px;
        }

        .main-header-timestamp {
            color: #6c6c6c
        }

        .news-article {
            height: 350px;
        }

        .news-article img {
            height: 200px;
        }

        .news-article-header {
            color: #212121;
            font-size: 20px;
        }

        .article {
            background-color: #222222;
        }

        .news-article-summery, .main-header-header, .section-header {
            color: #4a4a4a;
        }

        .footer {
            background-color: #4c4c4c;
            color: #fff;
        }