
//VARIABLES
$body-background: #FDFDFE;
$tag-color: #800080;
$tag-color--news: #ffe600;
$tag-color--tech: #00ffff;
$tag-color--culture: #32cd32;
$tag-color--sports: #ff0000;
$header-background: #4484CE;
$breakpoint-lg: 992px;
$breakpoint-md: 765px;
$breakpoint-sm: 425px;

@mixin desktop-only($disp: block) {
    display: none;

    @media (min-width: $breakpoint-lg) {
        display: $disp;
    }
}

@mixin mobile-only($disp: block) {
    display: $disp;

    @media (min-width: $breakpoint-lg) {
        display: none;
    }
}

// GLOBAL
html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: $body-background;
}

.link {
    & a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: sans-serif;

        &:hover {
            border-bottom: 2px solid #ffffff;
        }
    }
}

.tag {
    padding-left: 8px;
    position: relative;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &:not(.section-header) {
        text-transform: uppercase;
        font-family: sans-serif;
    }

    &::before {
        content: "";
        position: absolute;
        width: 3px;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $tag-color;
    }

    &[data-category="news"]::before {
        background-color: $tag-color--news;
    }

    &[data-category="culture"]::before {
        background-color: $tag-color--culture;
    }

    &[data-category="tech"]::before {
        background-color: $tag-color--tech;
    }

    &[data-category="sports"]::before {
        background-color: $tag-color--sports;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16PX;
}

//HEADER

.header {
    background-color: $header-background;
    color: #FFF;
    padding: 0 16px;

    & .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-search {

        
        &--desktop {
            background-color: #7aa8dc;
            color: #FFF;
            border: 0;
            padding: 8px;
            
            &::placeholder {
                color: #fff;
            }
            
            @include desktop-only()
        }
        
        &--mobile {
            @include mobile-only()
        }
    }
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 8px;

    &--desktop {
        @include desktop-only(flex)
    }

    &-menu {
        background-color: transparent;
        border: 0;
        color: white;
        padding: 8px;
        font-size: 24px;

        &--mobile {
            @include mobile-only();
        }
    }

    &--mobile {
        list-style: none;
        text-align: center;
        gap: 8px;
        flex-direction: column;
        padding: 0;

        @media (max-width: $breakpoint-md) {
            display: flex;
        }
    }

    &--desktop {
        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    &-item {
        & a,
        & a:link {
            padding: 16px 16px;
        }

        &:nth-child(2) a:hover {
            border-color: yellow;
        }
        
        &:nth-child(3) a:hover {
            border-color: red;
        }
        
        &:nth-child(4) a:hover {
            border-color: purple;
        }
        
        &:nth-child(5) a:hover {
            border-color: cyan;
        }
        
        &:nth-child(6) a:hover {
            border-color: limegreen
        }

    }

    
}

.nav-list-fold-out-menu {
    height: 0;
    visibility: 0;
    opacity: 0;
    transition: height 0.6s;
    padding-bottom: 8px;
    border-top: #bdd7f5 1px solid;

    &--open {
        height: initial;
        visibility: 1;
        opacity: 1;
    }
}

.header-title {
    & h1 {
        font-family: sans-serif;
        font-size: 24px;
    }

    @media(max-width: $breakpoint-md) {
        flex: 1;
    }
}

h2 {
    font-size: 22px;
}



.featured-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
}

.article {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(#0000001a, #000000);
        z-index: 1;
    }

    &__content {
        z-index: 2;
        padding: 16px;
    }

    &__play-icon {
        z-index: 3;
        font-size: 2rem;
        color: #ffffff;
        position: absolute;
        top: 40%;
        left: 50%;
    
        transform: translate(-50%, -50%);

        &:hover {
            color: $header-background;
        }

        @media (max-width: $breakpoint-sm) {
            display: none;
        }
    }

    &__header {
        color: #FFFFFF;
        font-size: 20px;
    }

    &__tag {
        color: #d3d3d3;
        font-size: 14px;
    }
    

    &--main {
        grid-column: 1/3;
        grid-row: 1/3;

        background: url("./images/image-1.jpg") no-repeat;
        height: unset;

        @media (max-width: $breakpoint-sm) {
            grid-column: unset;
        }
    }
    

    &.article1 {
        background: url("./images/image-2.jpg") no-repeat;
    }
    
    &.article2 {
        background: url("./images/image-3.jpg") no-repeat;
    }
    
    &.article3 {
        background: url("./images/image-4.jpg") no-repeat;
    }
    
    &.article4 {
        background: url("./images/image-5.jpg") no-repeat;
    }

    &:hover .article__overlay {
        background: linear-gradient(#00000000, #000000);

    }

    &:not(.article--main) {
        @media (max-width: $breakpoint-sm) {
            background: unset;
            height: unset;

            &.article__content {
                padding: 0;
            }

            &.article__header,
            &.article__tag {
                color: #212121;
            }

            &.article__overlay {
                background: unset;
            }
        }
    }

    @media (max-width: $breakpoint-lg) {
        height: 200px;

        &--main {
            grid-row: 1/3;
            height: 360px;
        }
    }
}

.article-tag, .news-article-tag {
    font-size: 14px;
}

.main-header {
    &__timestamp {
        color: #6c6c6c;
        font-style: italic;
    }
}

.news-articles {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.news-article {
    height: 350px;
    min-width: 300px;
    max-width: 400px;
    flex: 1;

    & img {
        height: 200px;
        width: 300px;
        object-fit: cover;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }
    }

    &__header {
        color: #212121;
        font-size: 20px;
    }

    &__summery {
        color: #4a4a4a;
    }

    &__button {
        background-color: transparent;
        border: 0;
        color:#4484CE;
        cursor: pointer;

        &:hover {
            color:#4e99ef;
        }

        &:disabled,
        &:disabled:hover {
            color:#bdd7f5;
            cursor: not-allowed;
        }
    }

    @media (max-width: $breakpoint-md) {
        width: 100%;
        height: unset;

        & img {
            width: 100%;
            height: unset;
            aspect-ratio: 16/5;
        }
    }
}

.footer {
    background-color: #4c4c4c;
    color: #fff;
    &__link-grid {
        display: grid;
        list-style: none;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}
